
#container{
  width: 1918px;
  height: 1072px;
  background-color: #78BCD7;
  position: relative;
  box-sizing: border-box;
  margin: -8px;
}
#container div{
    width: 100%;
    height: 100%;
    position:absolute;
    margin: 0;
    padding: 0;
}
/*****Podkład******/
#ptak1{
  background-image: url('./img/podklad do animacji.png');
  position:absolute;
  opacity: 0.8;
}
#container div:nth-child(2){
  background-color: rgba(255, 255, 255, 1);
  clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);
}
#container div:nth-child(3){
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(11.783% 35.261%, 11.679% 30.41%, 16.788% 34.795%);
}
#container div:nth-child(4){
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(  14.286% 50.007%, 18.822% 43.283%, 17.831% 40.112%);
}
#container div:nth-child(5){
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(18.822% 45.336%, 21.794% 46.269%, 19.760% 40.765%);
}


