@font-face {
  font-family: isonormregular;
  src: url('../font/isonorm 3098 Regular.otf');
}

*{
  box-sizing:border-box;
  margin: 0; 
  font-family: isonormregular;
  color: white;
}

#container{
  width: 100%;
  height: 100vh;
  /*width: 1918px;
  height: 1072px;*/
  background:linear-gradient(to bottom, #78b4d7, #78c0d6);;
  position: relative;
  /*margin: 0 auto;*/
  overflow: hidden;
}

#container div{
    width: 100%;
    height: 100%;
    position:absolute;
}
/***** Triangle base******/
#ptak1{
  /*background-image: url('../img/podklad do animacji.png');*/
  /*background-image: url('../img/podklad keyframe1.png');*/
  background-image: url('../img/podklad sea keyframe2.png');
  position:absolute;
  opacity: 0.8;
  z-index: 5;
}
/******* Bird 1********/

#bird1 div:nth-child(1){
  background-color: rgba(255, 255, 255, 1);
  clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);
  animation: b1FirstWing 8s linear 1s;
}
#bird1 div:nth-child(2){
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(11.783% 35.075%, 16.736% 34.328%, 11.679% 30.131%);
  animation: b1SeccondWing 8s linear 1s;
}

/* Animating bird 1 */

@keyframes b1FirstWing {
  0% {clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);}
  20% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  40% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  60% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  80% {clip-path: polygon(8.438% 36.542%, 14.479% 29.252%, 11.875% 25.607%);}
  100% {clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);}
}
@keyframes b1SeccondWing {
  0% {clip-path: polygon(11.783% 35.075%, 16.736% 34.328%, 11.679% 30.131%);}
  20% {clip-path: polygon(14.688% 29.065%, 19.635% 30.748%, 15.313% 24.112%);}
  40% {clip-path: polygon(14.688% 29.439%, 18.438% 35.327%, 16.667% 25.514%);}
  60% {clip-path: polygon(14.740% 28.972%, 19.740% 31.028%, 15.469% 24.112%);}
  80% {clip-path: polygon(14.479% 29.065%, 18.438% 34.766%, 16.406% 24.953%);}
  100% {clip-path: polygon(11.783% 35.075%, 16.736% 34.328%, 11.679% 30.131%);}
}

/*********** Bird 2 ***********/

#bird2 div:nth-child(1){
  background-color: rgba(255, 255, 255, 0.4);
  clip-path: polygon(14.181% 44.869%, 18.822% 43.097%, 17.831% 40.019%);
  animation: b2FirstWing 8s linear 1s;
}
#bird2 div:nth-child(2){
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(18.874% 43.284%, 21.741% 45.896%, 19.760% 40.392%);
  animation: b2SeccondWing 8s linear 1s;
}

/* Animating bird 2 */

@keyframes b2FirstWing {
  0% {clip-path: polygon(14.181% 44.869%, 18.822% 43.097%, 17.831% 40.019%);}
  20% {clip-path: polygon(15.729% 49.346%, 20.781% 47.477%, 19.740% 43.738%);
      background-color: rgba(255, 255, 255, 0.8);}
  40% {clip-path: polygon(17.240% 54.393%, 20.781% 47.664%, 18.750% 45.888%);}
  60% {clip-path: polygon(15.625% 48.131%, 20.938% 47.383%, 20.000% 43.645%);}
  80% {clip-path: polygon(15.990% 51.682%, 20.729% 47.383%, 19.010% 44.486%);
  background-color: rgba(255, 255, 255, 0.8);}
  100% {clip-path: polygon(14.181% 44.869%, 18.822% 43.097%, 17.831% 40.019%);
  background-color: rgba(255, 255, 255, 0.4);}
}
@keyframes b2SeccondWing {
  0% {clip-path: polygon(18.874% 43.284%, 21.741% 45.896%, 19.760% 40.392%);}
  20% {clip-path: polygon(20.833% 47.570%, 24.167% 50.467%, 21.875% 44.299%);}
  40% {clip-path: polygon(20.781% 47.757%, 23.281% 52.523%, 22.448% 45.421%);}
  60% {clip-path: polygon(20.938% 47.383%, 24.583% 47.570%, 21.094% 43.738%);}
  80% {clip-path: polygon(20.729% 47.383%, 24.010% 50.374%, 21.667% 44.019%);}
  100% {clip-path: polygon(18.874% 43.284%, 21.741% 45.896%, 19.760% 40.392%);}
}

/*********** Sea ***********/
/*#sea{
  z-index: 2;
}*/
/* bottom row - from left*/
#sea div:nth-child(1){
  background-color: rgba(45, 146, 176, 1);
  clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);
  z-index: 4;
}
#sea div:nth-child(2){
  background-color: rgba(29, 106, 136, 1);
  clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);
  z-index: 4;
}
#sea div:nth-child(3){
  background-color: rgba(29, 106, 136, 1);
  clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);
  z-index: 4;
}
#sea div:nth-child(4){
  background-color: rgba(23, 96, 129, 1);
  clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);
  z-index: 4;
}
#sea div:nth-child(5){
background-color: rgba(27, 104, 134, 1);
  clip-path: polygon(57.404% 100%, 66.632% 100%, 66.632% 99.160%, 56.830% 94.869%);
  z-index: 4;
}
#sea div:nth-child(6){
  background-color: rgba(27, 104, 134, 1);
  clip-path: polygon(66.632% 100%, 93.848% 100%, 79.562% 93.284%, 66.632% 99.160%);
  z-index: 4;
}
/***** Bottom row animation *****/

@keyframes sea1Div {
  0% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
}
@keyframes sea2Div {
  0% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
}
@keyframes sea3Div {
  0% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
}
@keyframes sea4Div {
  0% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
}
@keyframes sea5Div {
  0% {clip-path: polygon(57.404% 100%, 66.632% 100%, 66.632% 99.160%, 56.830% 94.869%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(57.404% 100%, 66.632% 100%, 66.632% 99.160%, 56.830% 94.869%);}
}
@keyframes sea6Div {
  0% {clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(6.413% 44.216%, 11.835% 35.5%, 9.124% 32.76%);}
}

/* Middle row - from left*/

#sea div:nth-child(7){
  background-color: rgba(35, 132, 164, 1);
  clip-path: polygon(0% 82.369%, 0 100%, 2.900% 100%, 21.950% 86.194%);
  z-index: 3;
}
#sea div:nth-child(8){
  background-color: rgba(39, 138, 169, 1);
  clip-path: polygon(15.224% 90.951%, 35.558% 97.861%, 38.113% 83.769%, 25.912% 82.369%);
  z-index: 3;
}
#sea div:nth-child(9){
  background-color: rgba(45, 146, 176, 1);
  clip-path: polygon(35.558% 97.861%, 56.830% 94.869%, 38.113% 83.769%);
  z-index: 3;
}
#sea div:nth-child(10){
  background-color: rgba(39, 138, 169, 1);
  clip-path: polygon(56.830% 94.869%, 66.632% 99.160%, 79.562% 93.284%, 68.144% 88.433%);
  z-index: 3;
}
#sea div:nth-child(11){
  background-color: rgba(32, 158, 180, 1);
  clip-path: polygon(93.848% 100%, 100% 100%, 100% 83.955%, 70.699% 87.500%, 68.248% 88.433%);
  z-index: 3;
}

/***** Middle row animation *****/

@keyframes sea1Div {
  0% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
}
@keyframes sea2Div {
  0% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
}
@keyframes sea3Div {
  0% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
}
@keyframes sea4Div {
  0% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
}
@keyframes sea5Div {
  0% {clip-path: polygon(57.404% 100%, 66.632% 100%, 66.632% 99.160%, 56.830% 94.869%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(57.404% 100%, 66.632% 100%, 66.632% 99.160%, 56.830% 94.869%);}
}


/*Top row - from left*/

#sea div:nth-child(12){
  background-color: rgba(27, 112, 151, 1);
  clip-path: polygon(4.692% 83.222%, 21.950% 86.194%, 26.017% 82.463%, 15.276% 78.265%);
  z-index: 2;
}
#sea div:nth-child(13){
  background-color: rgba(27, 104, 134, 0.5);
  clip-path: polygon(47.080% 89.1%, 56.830% 94.869%, 54.119% 85.354%);
  z-index: 2;
}
#sea div:nth-child(14){
  background-color: rgba(45, 146, 176, 1);
  clip-path: polygon(54.119% 85.354%, 56.830% 94.869%, 68.144% 88.433%);
  z-index: 2;
}
#sea div:nth-child(15){
  background-color: rgba(27, 112, 151, 1);
  clip-path: polygon(70.699% 87.500%, 100% 83.955%, 100% 78.451%);
  z-index: 2;
}

/***** Top row animation *****/

@keyframes sea1Div {
  0% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(2.815% 100%, 8.238%100%, 16.893% 90.765%, 16.215% 90.205%);}
}
@keyframes sea2Div {
  0% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(8.238%100%, 35.245%100%, 35.506% 97.854%, 16.893% 90.765%);}
}
@keyframes sea3Div {
  0% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(35.245% 100%, 47.185% 100%, 56.830% 94.869%, 35.506% 97.854%);}
}
@keyframes sea4Div {
  0% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
  25% {clip-path: polygon(8.229% 35.047%, 14.688% 29.346%, 12.396% 25.140%);}
  50% {clip-path: polygon(10.156% 39.439%, 14.688% 29.533%, 11.667% 27.477%);}
  75% {clip-path: polygon(7.604% 28.972%, 14.792% 29.159%, 13.854% 23.645%);}
  100% {clip-path: polygon(47.185% 100%, 57.404% 100%, 56.830% 94.869%);}
}

/******** Pier **********/
#pier div:nth-child(1){
  background-color: rgba(255, 255, 255, 1);
  clip-path: polygon(75.756% 80.410%, 98.958% 76.772%, 98.958% 76.493%, 76.017% 76.493%);
}
#pier div:nth-child(2){
  background-color: rgba(255, 255, 255, 0.5);
  clip-path: polygon(78.468% 87.034%, 79.562% 86.940%, 79.302% 79.851%, 77.581% 80.224%);
  z-index: 1;
}
#pier div:nth-child(3){
  background-color: rgba(255, 255, 255, 0.5);
  clip-path: polygon(82.013% 86.101%, 83.264% 86.007%, 83.004% 79.384%, 81.387% 79.571%);
  z-index: 1;
}
#pier div:nth-child(4){
  background-color: rgba(255, 255, 255, 0.5);
  clip-path: polygon(85.506% 85.634%, 86.653% 85.261%, 86.340% 78.731%, 84.672% 79.104%);
  z-index: 1;
}
#pier div:nth-child(5){
  background-color: rgba(255, 255, 255, 0.5);
  clip-path: polygon(88.895% 85.168%, 90.355% 85.168%, 89.648% 78.318%, 88.229% 78.598%);
  z-index: 1;
}
/* shadow */

#pier div:nth-child(6){
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3), transparent);
  clip-path: polygon(78.728% 93.750%, 79.458% 93.657%, 79.458% 84.701%, 78.259% 85.075%);
  z-index: 3;
}
#pier div:nth-child(7){
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  clip-path: polygon(82.065% 93.563%, 82.951% 93.470%, 83.108% 83.582%, 81.909% 84.049%);
  z-index: 3;
}
#pier div:nth-child(8){
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  clip-path: polygon(85.298% 92.724%, 86.184% 92.351%, 86.445% 82.463%, 85.141% 82.836%);
  z-index: 3;
}
#pier div:nth-child(9){
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  clip-path: polygon(88.791% 91.978%, 89.677% 91.884%, 89.938% 81.437%, 88.687% 81.810%);
  z-index: 3;
}

/*Logo and information*/
.info-box{
  display: flex;
  flex-direction:column;
  align-items: center; 
  padding-top: 10%;
  
}
.circle{
    margin: 10px;
    max-width: 264px;
    max-height: 264px;
    background: -webkit-linear-gradient(left, #be0068, #7d0144);
    background: -moz-linear-gradient(left, #be0068, #7d0144);
    background: -o-linear-gradient(left, #be0068, #7d0144);
    background: linear-gradient(to right, #be0068, #7d0144);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__number{
  position: absolute;
  top: 35%;
  left: 16%;
}

.circle__number img {
  width: 34%;
  height: 29%;
}

.circle__text {
  left: 58%;
  top: 33%;
  position: absolute;
  margin-right: 11px;
  font-size: 25px;
  line-height: 28px;
}
.circle:before {
  content: '';
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  background: url(../img/circle.png);
  background-size: cover;
}

.info {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  position: absolute;
  left:63%;
  top: 20%;
}

.info__p--small {
  font-size: 37px;

}

.info__p--gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 47px;
      line-height: 65px;
  background-image: linear-gradient(to right, #be0068, #7d0144);
  letter-spacing: 1px;
}


.info__p--big {
    line-height: 80px;
    font-size: 85px;
    letter-spacing: 3px;
}

.info-text {
  width: 100%;
  max-height: 5%;
  text-align: center;
  top: 94%;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 2px;
}
